# Build output
bin/
obj/

# Visual Studio
.vs/
*.user

# Configuration (contains secrets)
appsettings.json
appsettings.*.json

# Claude
.claude/

# Publish profiles
Properties/PublishProfiles/

Launcher/Properties/

Launcher/nul

ServerSide/Properties/

ServerSide/.dockerignore

ServerSide/Dockerfile

ServerSide/dotnet-tools.json
